.nav-tabs {
    margin-bottom: 15px;
}

.preloader {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
}

input.small {
    height: 30px;
    width: 50px;
    text-align: right;
    margin-right: 20px;
}

.tab-container > .col.s12:not(:first-child) {
    margin-top: 20px;
}

.collapsible-container {
    padding: 2rem;
}