#regression-container .coeff-input{
    width: 30px !important;
    text-align: right;
    margin-right: 10px !important;
}

#regression-container .collapsible-container {
    display: table;
    width: 100%;
}
