.ct-line {
    /* Control the thickness of your lines */
    stroke-width: 1px;
}

.coeff-input{
    width: 30px !important;
    text-align: right;
    margin-right: 10px !important;
}

.comp-input{
    width: 50px !important;
    text-align: right;
    margin-right: 20px !important;
}