#regression-container .coeff-input{
    width: 30px !important;
    text-align: right;
    margin-right: 10px !important;
}

#regression-container .regression-preloader {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
}

#regression-container .result-container {
    margin-top: 15px;
}

#regression-container .ct-line {
    stroke-width: 1px;
}