{% extends "base.html" %}

{% block content %}
    <div class="row">
        <!-- Tab Navigation -->
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#regression-container">Regression</a></li>
                <li class="tab col s3"><a href="#game-container">Game</a></li>
                <li class="tab col s3"><a href="#simulation-container">Simulation</a></li>
            </ul>
        </div>

        <!-- Regression -->
        <div id="regression-container" class="col s12">
            {% include tabs/regression.html %}
        </div>

        <!-- Game -->
        <div id="game-container" class="col s12">
            {% include tabs/game.html %}
        </div>

        <!-- Simulation -->
        <div id="simulation-container" class="col s12">
            {% include tabs/simulation.html %}
        </div>
    </div>
{% end %}