<div class="col s12">
    <h5>Sale Probability Estimation</h5>
    <div class="col s12">
        $y_1 = Uniform(0, $
        <input class="coeff-input" type="text" id="coeffAIntercept" value="1.0" />
        $\  + $
        <input class="coeff-input" type="text" id="coeffAPriceA" value="-0.4" />
        $\ *\  a_1\  + $
        <input class="coeff-input" type="text" id="coeffAPriceB" value="0.3" />
        $\ *\  a_2\  + $
        <input class="coeff-input" type="text" id="coeffAMinCompA" value="0.3" />
        $*\ min(\overrightarrow{p_1})\ + $
        <input class="coeff-input" type="text" id="coeffAMinCompB" value="0.1" />
        $*\ min(\overrightarrow{p_2})\ + $
        <input class="coeff-input" type="text" id="coeffARankA" value="-0.2" />
        $\ *\  r_1\  + $
        <input class="coeff-input" type="text" id="coeffARankB" value="0.2" />
        $\ *\  r_2)$
    </div>

    <div class="col s12">
        $y_2 = Uniform(0, $
        <input class="coeff-input" type="text" id="coeffBIntercept" value="0.8" />
        $\  + $
        <input class="coeff-input" type="text" id="coeffBPriceA" value="0.3" />
        $\ *\  a_1\  + $
        <input class="coeff-input" type="text" id="coeffBPriceB" value="-0.4" />
        $\ *\  a_2\  + $
        <input class="coeff-input" type="text" id="coeffBMinCompA" value="0.1" />
        $*\ min(\overrightarrow{p_1})\ + $
        <input class="coeff-input" type="text" id="coeffBMinCompB" value="0.3" />
        $*\ min(\overrightarrow{p_2})\ + $
        <input class="coeff-input" type="text" id="coeffBRankA" value="0.2" />
        $\ *\  r_1\  + $
        <input class="coeff-input" type="text" id="coeffBRankB" value="-0.2" />
        $\ *\  r_2)$
    </div>

    <a class="waves-effect waves-light btn" id="btnStartRegression">
        <i class="material-icons left">cached</i>Start Regression
    </a>
    <div class="regression-preloader preloader preloader-wrapper active hide">
        <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<div class="col s12 result-container hide">
    <h5>Results</h5>
    <div class="col s12">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">label</i>Computed beta coefficients</div>
                <div class="collapsible-body">
                    <div class="collapsible-container">
                        <table class="beta-table">
                            <thead>
                            <tr>
                                <th data-field="beta">Coefficient</th>
                                <th data-field="productA">Product A</th>
                                <th data-field="productB">Product B</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header active"><i class="material-icons">check_circle</i>Formula validation</div>
                <div class="collapsible-body">
                    <div class="collapsible-container">
                        <table class="situations-table">
                            <thead>
                            <tr>
                                <th data-field="priceA">Price A</th>
                                <th data-field="competitor1A">Competitor 1 Price A</th>
                                <th data-field="competitor2A">Competitor 2 Price A</th>
                                <th data-field="priceB">Price B</th>
                                <th data-field="competitor1B">Competitor 1 Price B</th>
                                <th data-field="competitor2B">Competitor 2 Price B</th>
                                <th data-field="saleA">Sale Product A</th>
                                <th data-field="saleB">Sale Product B</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header active"><i class="material-icons">timeline</i>Convergence of beta coefficients</div>
                <div class="collapsible-body">
                    <div class="collapsible-container">
                        <div class="col s6">
                            <div class="beta-chart a"></div>
                        </div>
                        <div class="col s6">
                            <div class="beta-chart b"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
